{% extends "site/base/base.html" %}
{% import "helper/form.html" as form %}

{% block page_title %}
    {% if title %}
    {{ title }}
    {% else %}
    Index
    {% endif %}
{% endblock page_title %}

{% block style %}
    {% set _local_styles = ["static/style/base.css"] %}
    {{ form.style_list(_local_styles) }}
{% endblock style %}

{% block script %}
    {% set _local_scripts = ["static/script/base.js"] %}
    {{ form.script_list(_local_scripts) }}
{% endblock script %}

{% block meta %}
    {% if metas %}
        {{ form.meta_list(metas) }}
    {% endif %}
{% endblock meta %}
